<%= render(:partial => '/rails_caddy_css') %>

<%= render(:partial => '/rails_caddy_js')%>

<div id="railsCaddy">
	
	<a href="#" id="railsCaddyTab">caddy</a>
	
	<div id="railsCaddyContents" style="display: none;">
		<div id="railsCaddyContentsInner">
		  <div id="railsCaddySession">
		    <h2>Session</h2>
		    <div id="sessionObjects">
		      <script type="text/javascript">
  		    <% (session.data.keys - ["flash", :timecop_adjusted_time, :sanitize_email_address]).each do |key| -%>
  		      <% next if session[key].nil? -%>
  		      document.write(RailsCaddy.sessionVariableEditor("<%= escape_javascript(key.to_s) %>", "<%= escape_javascript(session[key].to_s) %>"));
          <% end -%>
          </script>
        </div>
        <p><a href="javascript:void(0)" onclick="RailsCaddy.addSessionVariable();">+ New Session Variable</a></p>
		  </div>
		  
		  <div id="railsCaddyTimecop">
		    <h2>Timecop</h2>
		    <p>The time is <strong style="color: red;"><%= Time.now.to_s(:db) %></strong></p>
        <% form_remote_tag :url => timecop_update_path do -%>
          <% %w(year month day hour min sec).each do |field| -%>
            <%= text_field_tag field, Time.now.send(field), :size => (field == "year" ? 3 : 1) %>
          <% end -%>
          <p>
            <%= submit_tag "Time Travel" %>
            <%= link_to_remote "Reset", :url => timecop_reset_path %>
          </p>
        <% end -%>
		  </div>
		  
		  <div id="railsCaddyEmail">
		    <h2>Sanitize Email</h2>
		    <p>All email sent to: <strong style="color: red;"><%= ActionMailer::Base.sanitized_recipients %></strong></p>
		    <% form_remote_tag :url => set_sanitize_email_address_path do -%>
		      <%= text_field_tag "value", "", :size => 15 %>
		      <p>
		        <%= submit_tag "Change Email" %>
		        <%= link_to_remote "Unset", :url => unset_sanitize_email_address_path %>
		      </p>
		    <% end -%>
		  </div>
		  
		  <div id="railsCaddyStats">
		    <h2>Stats</h2>
		  </div>
		  
		</div>
	</div>
	
</div>
