<style type="text/css">
  #railsCaddy {
    text-align: left;
  	position: absolute;
  	width: auto;
  	height: auto;
  	top: 100px;
  	left: 0px;
  }

  #railsCaddyTab {
  	float: left;
  	height: 137px;
  	width: 28px;
    text-decoration: none;
  }
  
  #railsCaddyTab img {
    border: none;
  }

  #railsCaddyContents {
  	float: left;
  	overflow: hidden !important;
  	width: 200px;
  }

  #railsCaddyContentsInner {
  	width: 200px;
  	margin-top: 30px;
  	font-size: 12px;
  }

  #railsCaddyContentsInner > div {
    border: solid 1px red;
  }

  #railsCaddyContentsInner h2 {
  	margin: 0px 0px 3px 0px;
  	padding: 2px;
  	background-color: #CC3400;
  	color: #FFFFFF;
  	font-size: 14px;
  }
  
  #railsCaddySession p {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  
  #railsCaddySession p strong {
    font-size: 110%;
  }
</style>

<script type="text/javascript">
  var RailsCaddy = {

    isExtended: 0,
    sessionVariableTemplate: new Template("<p>#{key}<br /> <strong><%= escape_javascript(rc_in_place_editor_field("\#{key}", "\#{value}")) %></strong></p>"),
    
    init: function() {
    	Event.observe('railsCaddyTab', 'click', RailsCaddy.slideSideBar, true);
    },

    slideSideBar: function() {

    	new Effect.toggle('railsCaddyContents', 'blind', {scaleX: 'true', scaleY: 'true;', scaleContent: false});

    	if (RailsCaddy.isExtended == 0) {
    		$('railsCaddyTab').childNodes[0].src = $('railsCaddyTab').childNodes[0].src.replace(/(\.[^.]+)$/, '-active$1');

    		new Effect.Fade('railsCaddyContents', { duration:1.0, from:0.0, to:1.0 });

    		RailsCaddy.isExtended++;
    	}
    	else {
    		$('railsCaddyTab').childNodes[0].src = $('railsCaddyTab').childNodes[0].src.replace(/-active(\.[^.]+)$/, '$1');

    		new Effect.Fade('railsCaddyContents', { duration:1.0, from:1.0, to:0.0 });

    		RailsCaddy.isExtended=0;
    	}

    },

    scroll: function() {
      $('railsCaddy').style.top = (window.scrollY + 100) + "px";
    },
    
    sessionVariableEditor: function(key, value) {
      if (!value) { value = "blank"; }
      return RailsCaddy.sessionVariableTemplate.evaluate({key : key, value : value});
    },
    
    addSessionVariable: function() {
      var val = prompt("Enter the name of the new session variable:");
      $('sessionObjects').insert(RailsCaddy.sessionVariableEditor(val, "blank"));
    }
  };

  if (Event.observe === undefined) {
    alert("It appears that the Prototype library has not been loaded.  rails_caddy currently requires Prototype.");
  } else {
    Event.observe(window, 'load',   RailsCaddy.init,   true);
    Event.observe(window, 'scroll', RailsCaddy.scroll, true);
  }
</script>

<div id="railsCaddy">
	
	<a href="#" id="railsCaddyTab"><img src="../images/slide-button.gif" alt="caddy" title="caddy" /></a>
	
	<div id="railsCaddyContents" style="display: none;">
		<div id="railsCaddyContentsInner">
		  <div id="railsCaddySession">
		    <h2>Session</h2>
		    <div id="sessionObjects">
		      <script type="text/javascript">
  		    <% session.data.keys.each do |key| -%>
  		      document.write(RailsCaddy.sessionVariableEditor("<%= escape_javascript(key.to_s) %>", "<%= escape_javascript(session[key]) %>"));
          <% end -%>
          </script>
        </div>
        <p><a href="javascript:void(0)" onclick="RailsCaddy.addSessionVariable();">+ New Session Variable</a></p>
		  </div>
		  
		  <div id="railsCaddyTimecop">
		    <h2>Timecop</h2>
		    <p>The time is <%= Time.now.to_s(:db) %></p>
        <% form_remote_tag :url => timecop_update_path do -%>
          <% %w(year month day hour min sec).each do |field| -%>
            <%= text_field_tag field, Time.now.send(field), :size => (field == "year" ? 3 : 1) %>
          <% end -%>
          <p>
            <%= submit_tag "Time Travel" %>
            <%= link_to_remote "Reset", :url => timecop_reset_path %>
          </p>
        <% end -%>
		  </div>
		  
		  <div id="railsCaddyEmail">
		    <h2>Sanitize Email</h2>
		  </div>
		  
		  <div id="railsCaddyStats">
		    <h2>Stats</h2>
		  </div>
		  
		</div>
	</div>
	
</div>
